
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="handleNavigate()">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active" (click)="handleNavigate()">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>Settings</span>
  </a>
  <button mat-list-item type="button" (click)="signOut()">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemTitle>Sign Out</span>
  </button>
</mat-nav-list>
